  {{!-- navbar --}}
    <nav class="navbar navbar-expand-lg">
        <a href="#" class="navbar-brand p-5">Reddit.js</a>
        <a href="/posts/new" class="btn navbar-btn mr-auto">New Post</a>
    </nav>