{{!-- navbar --}}
<nav class="navbar navbar-expand-lg offset-1 mr-5">
  <a href="/" class="navbar-brand p-5">Reddit.js</a>
  {{#if currentUser}}
  <a href="/posts/new" class="btn navbar-btn mr-auto">New Post</a>
  {{/if}}
  <ul class="nav navbar-nav navbar-right">
    {{#if currentUser}}
    <li><a href="/logout">Logout</a></li>
    {{else}}
    <li><a class='mr-2'href="/login">Login</a></li>
    <li><a href="/sign-up">Sign Up</a></li>
    {{/if}}
  </ul>
</nav>